<div class="row">

  <div class="col-sm-6" *ngFor="let home of homeList  | paginate
  : {
      itemsPerPage: tableSize,
      currentPage: page,
      totalItems: count
    };
let i = index">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title h1-responsive font-weight-bold my-4">{{home.Name}}</h5>
        <p class="card-text"> <a href="#">Click</a> để ôn tập trước khi làm bài quiz {{home.Name}}</p>
        <img src="assets/img/logos/{{home.Logo}}">
        <a [routerLink]="['quiz/' + home.Id]" class="btn btn-primary">Làm bài</a>

      </div>
    </div>
    <br>
  </div>

</div>
<pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
</pagination-controls>
